<?xml version="1.0" encoding="utf-8"?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "la.oja.EjemploPBS"
        version     = "1.0.0" 
        versionCode = "1" 
		>
    <!-- versionCode es un atributo opcional
		 y solo es utilizado por Android -->
  
  <name>Ejemplo PBS</name>
  
  <description>Aplicación de ejemplo para demostrar el funcionamiento del framework Phonegap 
  y el servicio Phonegap Build.</description>
  
  <author href="https://oja.la/" email="ejemplo@oja.la">Nombre Autor</author>
  
  <gap:platform name="ios" />
  <gap:platform name="android" />
  
  <preference name="phonegap-version" value="3.1.0" />
  <preference name="orientation" value="default" />
  <preference name="fullscreen" value="true" />
  
  <icon src="icon.png" />
  <gap:splash src="splash.png" />
  
  <gap:plugin name="org.apache.cordova.device-motion" />
  <gap:plugin name="org.apache.cordova.camera" />
  <gap:plugin name="org.apache.cordova.media-capture" />
  <gap:plugin name="org.apache.cordova.file" />
  <gap:plugin name="org.apache.cordova.device-orientation" />
  <gap:plugin name="org.apache.cordova.contacts" />
  <gap:plugin name="org.apache.cordova.battery-status" />
  <gap:plugin name="org.apache.cordova.geolocation" />
  
</widget>
